.App{
  background-image:url("../../public/images/background.jpg");
  height:auto;
  min-height:100vh;
}

.staff_info, .disabled\:opacity-50:disabled {
  opacity: 1.5;
}

@media (max-width:576px){
  .responsive-iphone{
    padding-top:49% !important;
  }
  .responsive-iphone-padding{
    padding-top:10rem;
  }
  .App{
    background-image:url("../../public/images/bg.webp");
    background-repeat:no-repeat;
  }
}
